<%= form_for(@work_point) do |f| %>
  <% if @work_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_point.errors.count, "error") %> prohibited this work_point from being saved:</h2>

      <ul>
      <% @work_point.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :entrada %><br>
    <%= f.text_field :entrada %>
  </div>
  <div class="field">
    <%= f.label :almoco %><br>
    <%= f.text_field :almoco %>
  </div>
  <div class="field">
    <%= f.label :volta_almoco %><br>
    <%= f.text_field :volta_almoco %>
  </div>
  <div class="field">
    <%= f.label :saida %><br>
    <%= f.text_field :saida %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
